*.log
*.db
*.dmp
test-*
ticker.cgi-*
\#*
*.zip
err*
out*

*.csv

# dirs

/misc-stuff
/BitcoinDaysDestroyed
/Changetip-data
/PHPliteadmin
/old_data
/weekly-analysis
/blocks_from_coins.pl
/check-uptime.pl
/coins_from_blocks.pl
/compare-julian.pl
/date-formatter.pl
/fetch-24hr-data-populate-store.pl
/fetch-all-time-data-populate-store.pl
/generate_historical_data_no_of_coins.pl
/humanized_date.pl
/irc_color.pl
/json
/julian-to-gregorian.pl
/logistical-model.pl
/next-halving.pl
/number-format.pl
/number-of-bitcoin.pl
/price-volume-info-from-json.pl
/price_timeline.pl
/print_large_num.pl
/sql-calculate-anniversary.pl
/sql-check-store-stats.pl
/sql-compare-price-with-24hr-history.pl
/sql-create-table.pl
/sql-date-arithmetic.pl
/sql-equal-prices.pl
/sql-find-24hr-price.pl
/sql-populate-db.pl
/sql-populate-price-ranges.pl
/ticker.pl
/timestamp.pl
/test

/btcaverage_apiv2/btctracker.ini
/btcaverage_apiv2/mcap.json
/btcaverage_apiv2/endpoint_outputs.pl
/btcaverage_apiv2/parse_json.pl
/btcaverage_apiv2/parse_ticker_data.pl
/btcaverage_apiv2/sql-fetch-all-time-data-populate-store.pl
/btcaverage_apiv2/test_connection.pl
/btcaverage_apiv2/ticker.json
/btcaverage_apiv2/ticker.sql
/btcaverage_apiv2/verify_fields
/marketcap-difference.pl
about.html
/About-page/build/about.html
/first-cross.txt
/notes.txt
/timeline-notes.txt
/About-page/build/*
/ticker.json
/sql-price-crossings.pl
