<!DOCTYPE html>
<html lang="en">
<head>
<title>[% meta.page_title %]</title>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
  body {font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	background-color: #EEEEEE;}
    h2 {font-style: italic;
  </style>
</head>
<body>
<h1 style="text-align:center">[% meta.page_title %]</h1>
[% USE Markdown -%]
[% FILTER markdown %]

<h3><span style="color: #0000ff;">A new tracker is under development...(2021-05-21)</span> <a href="../btcticker/index.html">Preview (WIP!)</a></h3>


## Last price

# [% content.last_price -%]

<h3><span style="color: red">Last update: [% content.last_update -%]</span></h3>

## Random stats and figures

These are based on the price above!

[% FOREACH entry IN content.past_events %]

### [% entry.header -%]

[% entry.content.join('

') %]

[% END %]
[% END %]
</body>

